/dev/block/by-name/miscdata       0660     system      system
/dev/block/by-name/persist       0660     system      system
/dev/block/by-name/sysdumpdb        0660     system     system
/dev/block/by-name/param       0660    root      system
/sys/devices/platform/soc/soc:aon/64200000.spi/spi_master/spi4/spi4.0/sc27xx-bltc*/leds/sc27xx:red hw_pattern 0660 system system
/sys/devices/platform/soc/soc:aon/64200000.spi/spi_master/spi4/spi4.0/sc27xx-bltc*/leds/sc27xx:green hw_pattern 0660 system system
/sys/devices/platform/soc/soc:aon/64200000.spi/spi_master/spi4/spi4.0/sc27xx-bltc*/leds/sc27xx:blue hw_pattern 0660 system system

# Google FRP solution
/dev/block/by-name/persistent    0660    system    system

# Reactivation lock
/dev/block/by-name/steady    0660    system    system